<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="login-card">
    <h1>Welcome Back</h1>
    <p>Please log in to your account</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}">
            <li class="message">{{ message }}</li>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post">
      {{ form.csrf_token }}
      <div class="input-group">
        {{ form.identifier.label }}
        {{ form.identifier }}
          {% if form.identifier.errors %}
          <ul class="errors">
              {% for error in form.identifier.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      </div>

      <div class="input-group">
        {{ form.password.label }}
        {{ form.password }}
          {% if form.password.errors %}
          <ul class="errors">
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      </div>

      <div class="remember-me">
        {{ form.remember_me.label }}
        {{ form.remember_me(class_="remember-me-input") }}
      </div>

<!--      {% with messages = get_flashed_messages(with_categories=true) %}-->
<!--      {% if messages %}-->
<!--        {% for category, message in messages %}-->
<!--        <div class="{{ category }}">-->
<!--            <li class="message">{{ message }}</li>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--      {% endif %}-->
<!--    {% endwith %}-->

      <button type="submit">Login</button>
    </form>

    <div class="footer">
      <span>Don’t have an account?</span>
      <a href="{{ url_for('signup') }}">Sign up</a>
    </div>
  </div>
</body>
</html>