<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="login-card">
    <h1>Welcome Back</h1>
    <p>Please log in to your account</p>

    <form method="post">
      {{ form.csrf_token }}
      <div class="input-group">
<!--        <label for="email">Email</label>-->
<!--        <input name="email" type="email" id="email" placeholder="you@example.com" value="{{ email }}"/>-->
        {{ form.email.label }}
        {{ form.email }}
          {% if form.email.errors %}
          <ul class="errors">
              {% for error in form.email.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      </div>

      <div class="input-group">
<!--        <label for="password">Password</label>-->
<!--        <input name="password" type="password" id="password" placeholder="••••••••" />-->
        {{ form.password.label }}
        {{ form.password }}
          {% if form.password.errors %}
          <ul class="errors">
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}">
            <li class="message">{{ message }}</li>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      <button type="submit">Login</button>
    </form>

    <div class="footer">
      <span>Don’t have an account?</span>
      <a href="{{ url_for('signup') }}">Sign up</a>
    </div>
  </div>
</body>
</html>