<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class="profile-card">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}">
            <li class="message">{{ message }}</li>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="profile-header">
      <!-- Profile Picture -->
      <div class="avatar-wrapper">
        <img
          src="{{ url_for('static', filename=avatar) }}"
          alt="Profile Picture"
          class="avatar-img"
          id="profileImage"
        />
<!--        <div class="avatar-placeholder" id="avatarPlaceholder">{{ current_user.email }}</div>-->

        <form method="post" id="form" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.avatar.label(_class="avatar-edit") }}
          {{ form.avatar(_id="avatarUpload") }}
<!--          <label for="avatarUpload" class="avatar-edit">✏️</label>-->
<!--          <input-->
<!--            type="file"-->
<!--            id="avatarUpload"-->
<!--            accept="image/*"-->
<!--            name="avatar"-->
<!--            hidden-->
<!--          />-->
<!--          <p><span id="updateStatus"></span></p>-->
        </form>
      </div>

      <h1>{{ current_user.username }}</h1>
      <p>{{ current_user.email }}</p>
    </div>

    <div class="profile-info">
      <div class="info-row">
        <span class="label">Username</span>
        <span class="value">{{ current_user.username }}</span>
      </div>
<!--      <div class="info-row">-->
<!--        <span class="label">Member since</span>-->
<!--        <span class="value">Jan 2026</span>-->
<!--      </div>-->
    </div>

    <div class="profile-actions">
      <button form="form" type="submit" id="submit">Edit Profile</button>
      <a class="login-btn" href="{{ url_for('home') }}">Home page</a>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
