<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class="app">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="{{ category }}">
              <li class="message">{{ message }}</li>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <div class="header">
      <h1 class="brand-name">Tackle✅</h1>
      <div class="profile">
        <a href="profile" class="profile-link">
          {% if not current_user.is_authenticated %}
          <div class="authentication-btns">
            <a href="{{ url_for('login') }}" class="login-btn">Login</a>
            <a href="{{ url_for('signup') }}" class="signup-btn">Sign up</a>
          </div>
          {% else %}
          @{{ current_user.username }}
          {% endif %}
          <img src="{{ url_for('static', filename=avatar) }}" alt="" class="avatar-img">
        </a>
      </div>
    </div>
    <div class="profile-card">
      <div class="profile-header">
        <!-- Profile Picture -->
        <div class="avatar-wrapper">
          <img
            src="{{ url_for('static', filename=avatar) }}"
            alt="Profile Picture"
            class="avatar-img"
            id="profileImage"
          />

          <form method="post" id="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.avatar.label(class_="avatar-edit") }}
            {{ form.avatar() }}
          </form>
        </div>

        <h1>{{ current_user.username }}</h1>
        <p>{{ current_user.email }}</p>
      </div>

<!--      <div class="profile-info">-->
<!--        <div class="info-row">-->
<!--          <span class="label">Username</span>-->
<!--          <span class="value">{{ current_user.username }}</span>-->
<!--        </div>-->
<!--      </div>-->

      <div class="profile-actions">
        <button form="form" type="submit" id="submit">Edit Profile</button>
        <a class="login-btn" href="{{ url_for('home') }}">Home page</a>
        <a class="login-btn" href="{{ url_for('logout') }}">Log out</a>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
