<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="login-card">
    <h1>Welcome to <span class="brand-name">Tackle✅</span></h1>
    <p>Register to start getting shit done.</p>

    <form method="post">
      {{ form.csrf_token }}
      <div class="input-group">
<!--        <label for="username">Username</label>-->
<!--        <input name="username" type="text" id="username" placeholder="j.epstein" required/>-->
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
        <ul class="errors">
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="input-group">
<!--        <label for="email">Email</label>-->
<!--        <input name="email" type="email" id="email" placeholder="you@example.com" required/>-->
        {{ form.email.label }}
        {{ form.email }}
        {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="input-group">
<!--        <label for="password">Password</label>-->
<!--        <input name="password" type="password" id="password" placeholder="••••••••" required/>-->
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="input-group">
<!--        <label for="re-password">Re-type Password</label>-->
<!--        <input name="re-password" type="password" id="re-password" placeholder="••••••••" required/>-->
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
        <ul class="errors">
          {% for error in form.confirm.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}">
            <li class="message">{{ message }}</li>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      <button type="submit">Sign up</button>
    </form>

    <div class="footer">
      <span>Already have an account?</span>
      <a href="{{ url_for('login') }}">Log in</a>
    </div>
  </div>
</body>
</html>